body {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  padding-top: 60px;
  line-height: 1.5;
}
/*piskvorky 1*/
.main {
  background-color: #283e50;
  width: 362px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px 7px 0 0;
}
.mainPravidla {
  background-color: #283e50;
  max-width: 362px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px 7px 0 0;
}

img {
  width: 100%;
}

img.uvodni {
  border-radius: 7px 7px 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 48px;
  font-weight: 550;
  margin: 17px 0 0 0;
}

p {
  padding: 5px 13px 16px 13px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 13px 0;
}
.pravidla {
  background-color: #1fcca4;
}
a.pravidla:hover,
a.pravidla:focus,
a.pravidla:active {
  background-color: #1cbb96;
}
.hrat {
  background-color: #0197f6;
  margin-top: 1px;
}
a.hrat:hover,
a.hrat:focus,
a.hrat:active {
  background-color: #0090e9;
}
.uvodniStranka {
  background-color: #1fcca4;
}

a.uvodniStranka:hover,
a.uvodniStranka:focus,
a.uvodniStranka:active {
  background-color: #1cbb96;
}

/*piskvorky 2*/

.headerPravidla {
  padding-top: 20px;
}
.seznamPravidel {
  text-align: left;
  margin: 40px;
}
li.polozkyPravidla {
  padding: 8px;
}
img.example {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.listOfInstructions {
  margin-left: 20px;
  margin-right: 20px;
}
figure {
  margin: 0;
  padding: 0;
}

figcaption {
  padding-top: 8px;
  padding-bottom: 40px;
  font-style: italic;
}

@media (min-width: 800px) {
  .mainPravidla {
    max-width: 750px;
  }
  .listOfInstructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .instructions {
    flex-basis: calc((100% - 20px) / 2);
  }
}
/*hra*/
.hra__body {
  max-width: 80vmin;
  margin-left: auto;
  margin-right: auto;
}

.hrajTop {
  display: flex;
  padding-bottom: 10px;
}

h2 {
  margin: 0;
  padding: 10px;
}
.hrajeKolecko {
  width: 1em;
  height: 1em;
  filter: invert(100%);
  padding-left: 10px;
}

.ikonky {
  margin-left: auto;
  display: flex;
}

.domecek,
.restart {
  margin: 5px 5px 7px 5px;
  padding: 8px 8px 0 8px;
  border-radius: 5px;
}

.domecek {
  background-color: #1fcca4;
}

a.domecek:hover,
a.domecek:focus,
a.domecek:active {
  background-color: #1cbb96;
}

.restart {
  background-color: #0197f6;
}

a.restart:hover,
a.restart:focus,
a.restart:active {
  background-color: #0090e9;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 80vmin;
  height: 80vmin;
  border: 1px solid black;
  background-color: rgba(245, 245, 245, 0.4);
}

.board button {
  border: 1px solid black;
  flex-basis: 10%;
  background-color: transparent;
}

button:hover,
button:focus,
button:active {
  background-color: rgba(245, 245, 245, 0.6);
}
/*
button:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

/*
https: ; //spin.atomicobject.com/2015/07/14/css-responsive-square/ - content*/
.kolecko {
  background: url(images/circle.svg) center no-repeat;
  background-size: 70%;
  animation: scale 0.15s linear;
}

.krizek {
  background: url(images/cross.svg) center no-repeat;
  background-size: 70%;
  animation: scale 0.15s linear;
}

@keyframes scale {
  from {
    background-size: 0%;
  }
  to {
    background-size: 70%;
  }
}
